{% extends 'department74/base.html' %}
{% load staticfiles %}
{% block content %}
    <h1>Новый компонент</h1>
    <form method="POST" class="component-form">{% csrf_token %}
        {{ form.as_ul }}
        <button onclick="return addSession();" type="submit"  class="save btn btn-dark">Сохранить</button>
        <button onclick="location.href = '/components/'" class="btn btn-dark">Назад</button>

    </form>


<script type="text/javascript" src="{% static 'js/session.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    loadSession()
  });
</script>
{% endblock %}
